
@import '~bulma/bulma';

@import '../sass/uikit.min.css';
@import '../sass/uikit-rtl.min.css';

@import '../sass/component/nav.scss';
@import '../sass/component/home.scss';
@import '../sass/component/about.scss';
@import '../sass/component/services.scss';
@import '../sass/component/commerce.scss';
@import '../sass/component/insights.scss';
@import '../sass/component/contact.scss';
@import '../sass/common.scss';
