@font-face {
    font-family: AbadiExtraLight;
    src: url('~/font/abadi-mt-std-extra-light.otf');
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: AbadiExtraLight;
}

.font-AbadiExtraLight {
    font-family: AbadiExtraLight;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration:none
}

.width-height-100 {
    width: 100%;
    height: 100%;
}

.top-display {
    z-index: 100;
}


@media only screen and (max-width: 1199px) {
    .key-banner-height {
        height: 540px;
    }

    .banner50 {
        height: 360px;
    }

    .article-banner-height{
        height: 400px;
    }

    .logo-watermark-position{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media only screen and (min-width: 1200px) {
    .key-banner-height {
        height: 600px;
    }

    .call-to-action-banner-height {
        height: 360px;
    }

    .banner50 {
        height: 540px;
    }

    .article-banner-height{
        height: 500px;
    }
    
    .logo-watermark-position{
        position: absolute;
        top: 0;
        right: 0;
    }

}


@media only screen and (min-width: 1600px) {
    .key-banner-height {
        height: 900px;
    }

    .call-to-action-banner-height {
        height: 360px;
    }

    .banner50 {
        height: 540px;
    }

    .article-banner-height{
        height: 540px;
    }
}


.opacity7-gradient-mask {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: linear-gradient(45deg, #EA5926, #FCC62F);
}

.opacity5-black-mask {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
}

.yellow-background {
    background-image: linear-gradient(90deg, #EA5926, #FCC62F);
}

.yellow-background-45deg {
    background-image: linear-gradient(45deg, #EA5926, #FCC62F);
}

.text-shadow-black {
    text-shadow: 1px 1px 5px #000;
}

.text-shadow-black-112 {
    text-shadow: 1px 1px 2px #000;
}

.button-opacity-shadow {
    padding: 1rem;
    background-color: rgba(150, 250, 250, 0.15);
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    outline: none;
}

.line-height-18 {
    line-height: 1.8em;
}

.overflow-hidden {
    overflow: hidden;
}

