.our-insight-key-banner-bg{
    background-image: url('~/image/our-insight/our-insight-key-banner-bg.jpg');
}

.our-insight-banner50-1-bg{
    background-image: url('~/image/our-insight/our-insight-banner-1.jpg');
}

.our-insight-banner50-2-bg{
    background-image: url('~/image/our-insight/our-insight-banner-2.jpg');
}

.our-insight-banner50-3-bg{
    background-image: url('~/image/our-insight/our-insight-banner-3.jpg');
}

.our-insight-banner50-4-bg{
    background-image: url('~/image/our-insight/our-insight-banner-4.jpg');
}

.our-insight-banner50-5-bg{
    background-image: url('~/image/our-insight/our-insight-banner-5.jpg');
}

.our-insight-banner50-6-bg{
    background-image: url('~/image/our-insight/our-insight-banner-6.jpg');
}

.our-insight-banner50-7-bg{
    background-image: url('~/image/our-insight/our-insight-banner-7.jpg');
}

.our-insight-banner50-8-bg{
    background-image: url('~/image/our-insight/our-insight-banner-8.jpg');
}

.our-insight-banner50-9-bg{
    background-image: url('~/image/our-insight/our-insight-banner-9.jpg');
}

.our-insight-banner50-10-bg{
    background-image: url('~/image/our-insight/our-insight-banner-10.jpg');
}



.our-insight-child-1-banner-bg{
    background-image: url('~/image/our-insight/insight-child-1-banner-bg.jpg');
}

.our-insight-child-2-banner-bg{
    background-image: url('~/image/our-insight/insight-child-2-banner-bg.jpg');
}

.our-insight-child-3-banner-bg{
    background-image: url('~/image/our-insight/insight-child-3-banner-bg.png');
}

.our-insight-child-4-banner-bg{
    background-image: url('~/image/our-insight/insight-child-4-banner-bg.jpg');
}

.our-insight-child-5-banner-bg{
    background-image: url('~/image/our-insight/insight-child-5-banner-bg.jpg');
}

.our-insight-child-6-banner-bg{
    background-image: url('~/image/our-insight/insight-child-6-banner-bg.png');
}

.our-insight-child-7-banner-bg{
    background-image: url('~/image/our-insight/insight-child-7-banner-bg.jpg');
}

.our-insight-child-8-banner-bg{
    background-image: url('~/image/our-insight/insight-child-8-banner-bg.jpg');
}

.our-insight-child-9-banner-bg{
    background-image: url('~/image/our-insight/insight-child-9-banner-bg.jpg');
}

.our-insight-child-10-banner-bg{
    background-image: url('~/image/our-insight/insight-child-10-banner-bg.png');
}