.nav-bg-opacity{
    background-color: rgba(120, 120, 120, 0.0);
    box-shadow: 0 5px 12px rgba(0,0,0,0);
}

#nav{
    box-shadow: 0 0 0!important;
    z-index: 1500;
}

#navbarDropdownContainer{
    height:100vh;
    width:100vw;
    box-shadow:0 0 0;
}